<!DOCTYPE html>
<html>
<head>
	
	<title>sucess</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<style type="text/css">
         body{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right,#95cc92,#afc0ca);
    }
    
         </style>
   
</head>
<body>
	<h1>Login Successfully!!</h1>
	
		
	<img src="{{ url_for('static', filename='image/img.jpg') }}"" height="200" width="200">
	
</body>
</html>